## Python Number Methods

### abs()
 gives the absolute value of any number

In [3]:
## absolute of a number abs()
## give positive value if a number is negative for e.g,
a = 20
b = -30
print(abs(a))
print(abs(b))

20
30

### ceil()
    gives the upper value of any decimal number

In [10]:
## to use this function first we have to import the math library then we can use this ceil function
import math
print(math.ceil(44.2))
print(math.ceil(46))
print(math.ceil(-12.6))

45
46
-12

### floor()

In [11]:
print(math.floor(11.2))
print(math.floor(-12.2))

11
-13

### exp()
    return the exponential value of number x which is pass in the argument

In [12]:
math.exp(10)

22026.465794806718

### log(x)

In [14]:
print(math.log(10))
print(math.log(2))

2.302585092994046
0.6931471805599453

In [15]:
## we can also log10 to calculate the result
print(math.log10(10))

1.0

### max()

In [16]:
## gives maximum value out of other vaulue, for e.g,
print(max(1,9,6,5,7))

9

### min()

In [17]:
## gives minimum value
print(min(1,8,6,3,5))

1

### pow()

In [18]:
## calculate result of the power of number
import math
math.pow(2,5) #2**5

32.0

### sqrt()

In [20]:
## used to find the square root of any number
import math
print(math.sqrt(16))

4.0

# List
    List is a data structure in python that is mutuable, or changeable, ordered sequence of elements.
    Each element present in the list is called the item and it is defined by using the square bracket.

In [22]:
type([])

list

In [23]:
# mutable vs immutable
## before giving any definition to these, first we considered an example of string
## asssume we have a string of str variable
str = "Vivek"
## now we can easily access the character of "Vivek" using it's index
print(str[0])
## but we can't change the actual value of the string "Vivek" it will through an error
str[0] = 'H'
## That's why string are immutable that we can't change

V

TypeError: 'str' object does not support item assignment

In [26]:
## now take the example of list why we called list as mutable
lst = [1,5,4,"Hary","Raju"]
print(lst)  # easily print the list with different data type
## try to change the value in the list
lst[3] = "Vivek"   # changing the item 'Harry' to 'Vivek'
## let's see the output
print(lst)
## now we can easily see that the value of the item has been changed

[1, 5, 4, 'Hary', 'Raju']
[1, 5, 4, 'Vivek', 'Raju']

## List Methods

In [2]:
## append
# we can add any item at the end of the list by using append, for e.g,
lst1 = [1,8,6,"ramu","sonu"]
## now if i want to add any item at the end of the list then i can use append method
lst1.append("Rahul")
print(lst1)

[1, 8, 6, 'ramu', 'sonu', 'Rahul']

In [3]:
## we can also add a list in the previous list, for e.g,
# if i want to add ["dog", "cat"] in the lst1 then
lst1.append(["dog","cat"])
print(lst1)

[1, 8, 6, 'ramu', 'sonu', 'Rahul', ['dog', 'cat']]

In [6]:
## now if we want to get the list of dog and cat then
print(lst1[6])
## to get the specific value of dog and cat then we have to again specify the index of dog or cat
## for dog
print(lst1[6][0])
## for cat
print(lst1[6][1])

['dog', 'cat']
dog
cat

In [7]:
## There is other method when we don't want any nested list but we want to give input as a list
## now we have a list that we want to add in it without nested
## use extend() method
lst1.extend(["Vivek", "Rajpoot"])
lst1

[1, 8, 6, 'ramu', 'sonu', 'Rahul', ['dog', 'cat'], 'Vivek', 'Rajpoot']

In [8]:
## we can also delete the last item of the list by using the pop() method
lst1.pop()
lst1

[1, 8, 6, 'ramu', 'sonu', 'Rahul', ['dog', 'cat'], 'Vivek']

In [9]:
## if we want to insert any specific item at the specific position then we can use insert() method
lst1.insert(2,69)
lst1

[1, 8, 69, 6, 'ramu', 'sonu', 'Rahul', ['dog', 'cat'], 'Vivek']

In [13]:
## we can also specify from which index to which index we want the list
## to obtain this result we can use (:) we specify index value on the left and right side of it
## for eg if we want the list from index 2 to index 6, then we have to specify 2 and 7 on the left and right side 
lst1[2:7]

[69, 6, 'ramu', 'sonu', 'Rahul']

In [25]:
## if we have any integer value in the list then we can easily sort the list in increasing and decreasig order
lst2 = [5,6,8,1,2,9,7]
# to sort in ascendding order
lst2.sort()
print(lst2)
# to reverse it we can use reverse method
lst2.reverse()
print(lst2)
## we can also get the sum of items present in lst2 by using sum()
print("Sum:",sum(lst2))

[1, 2, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 2, 1]
Sum: 38

# Sets
    A set is an unordered collection data type that is iterable, mutable and has no duplicate elements present in it.

In [26]:
## to define a set
set1 = {1,2,3,4,5}
type(set1)

set

In [27]:
## now we can easily see that the type of above data structure is set 
## NOTE ## but remember one thing we don't any field in the above field then the type of the above data structure will be 
## shown as dectionary
set2 = {}
type(set2)

dict

In [29]:
## set is like as the list but the main difference is that set doesn't store any duplicate value
set3 = {1,2,1,5,2,6,8,5}
print(set3)
## now we can easily see that the duplicate value has been deleted from the above set

{1, 2, 5, 6, 8}

In [30]:
## Remember one thing that we can't get any specific value through index that we can perform in the list
## but it will through an error if we want any element through index but we can iterate it

## There are many inbuilt functions are present in the set that helps in performing the mathematical operations on

# Set functions

In [2]:
## We got some knowledge of the sets from Class 11 the operations that we perform on the notebook, we can perform these by
## simply using that function and we will got the required result

#creating the two sets
st1 = set(["Hulk","Avangers","Shaktiman"])
st2 = set(["Hulk","Avangers","Shaktiman","Spiderman"])
## now we can perform some operations on these sets
st2.difference(st1)

{'Spiderman'}

In [3]:
st2.issuperset(st1)

True

In [4]:
st1.issubset(st2)

True

In [5]:
st2.union(st1)

{'Avangers', 'Hulk', 'Shaktiman', 'Spiderman'}

In [6]:
st2.intersection(st1)

{'Avangers', 'Hulk', 'Shaktiman'}

# Dictionaries
    A dictionary is a collection of unordered, changeable and indexed. In python dictionaries are written with curly
    brackets and have keys-value pair

In [9]:
## To define a dectionary we only need a cury brackets, and remember if we check the type of empty culy braces then 
## it will show type as dict
dict1 = {}
type(dict1)

dict

In [10]:
## To define a dectionary we need a key and value in the dictionary and the data structure we used the most is 
## dictionary which has many advantages when we are fetching data of the users
dict2 = {'Name': 'Vivek Rajpoot', 'age': 18, 'Height': '178 cm'}
dict2

{'Name': 'Vivek Rajpoot', 'age': 18, 'Height': '178 cm'}

In [11]:
## we can perform some operation on dict2 to get some specific values
## if we only want the key from the dict2
for x in dict2:
    print(x)

Name
age
Height

In [12]:
## if we want to print the values of dict2
for x in dict2.values():
    print(x)

Vivek Rajpoot
18
178 cm

In [13]:
## now if we want the items from dict2
for x in dict2.items():
    print(x)

('Name', 'Vivek Rajpoot')
('age', 18)
('Height', '178 cm')

In [15]:
## if we want to add new items in the dict then we can add in this way
dict2['Place'] = 'UP'
print(dict2)

{'Name': 'Vivek Rajpoot', 'age': 18, 'Height': '178 cm', 'Place': 'UP'}

In [16]:
### Nested Dictionary

In [17]:
car1_model = {'Mercedes': 1960}
car2_model = {'Audi': 1965}
car3_model = {'Ford': 1970}
## now if we want to create a nested dictionary then
car_model = {'car1':car1_model, 'car2': car2_model, 'car3': car3_model}
car_model

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1965}, 'car3': {'Ford': 1970}}

In [18]:
## Now if we want the value
car_model['car1']

{'Mercedes': 1960}

In [23]:
## Now if we want the value of first item
car_model['car1']['Mercedes']
## then we have to define both key values of first item

1960

# Tuple
    Tuples in Python are a collection of objects, similar to lists, but with some key differences.
    Here are some characteristics of tuples:

        Tuples are ordered, meaning that the items are stored in a specific order.
        Tuples are immutable, meaning that once they are created, their contents cannot be changed.
        Tuples allow duplicate values.
        Tuples are indexed, with the first item having an index of 0, the second item having an index of 1, and so on.

In [31]:
## we can create tuple as 
tuple1 = ('Hari','Ramu','Vivek','Sohan')
type(tuple1)

tuple

In [25]:
## Ther are only two inbuilt methods present in the tuple
# 1. count()
# 2. index()

In [28]:
# now if we count some items in tuple1
tuple1.count('Hari')

1

In [32]:
## we can also check the index of the items by using index method
tuple1.index('Vivek')

2