### Learn About
   1. StringIO
   2. Pandas read_csv

In [2]:
## Reading Different Data sourcess with the help of pandas
from io import StringIO

In [3]:
import pandas as pd
df=pd.read_csv('mercedesbenz.csv')

In [4]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
type(df)

pandas.core.frame.DataFrame

In [9]:
data=('Col1,Col2,Col3\n'
     'a,b,1\n'
     'c,d,2\n'
     'e,f,3')

In [10]:
## we can check the type of the data as
type(data)  # showing str type

str

In [11]:
## Now we have to convert this data into file formated data so that we can easily perform operations
## by Using StringIO()

In [12]:
## in memory file format object
StringIO(data)

In [13]:
pd.read_csv(StringIO(data))

  Col1 Col2  Col3
0    a    b     1
1    c    d     2
2    e    f     3

In [14]:
## if we want to use specific column then
pd.read_csv(StringIO(data),usecols=['Col1','Col2'])

  Col1 Col2
0    a    b
1    c    d
2    e    f

In [20]:
## now if we want to see only 5 columns from the file mercedesbenz.csv
df1 =pd.read_csv('mercedesbenz.csv',usecols=['X0','X1','X2','X3','X4'])
df1

      X0 X1  X2 X3 X4
0      k  v  at  a  d
1      k  t  av  e  d
2     az  w   n  c  d
3     az  t   n  f  d
4     az  v   n  f  d
...   .. ..  .. .. ..
4204  ak  s  as  c  d
4205   j  o   t  d  d
4206  ak  v   r  a  d
4207  al  r   e  f  d
4208   z  r  ae  c  d

[4209 rows x 5 columns]

In [22]:
## now if we want to convert above data into the 'test.csv' file then
# df1.to_csv('test.csv')
## and if we don't want index in the file
df1.to_csv('test.csv', index=False)